/*-------------------------------------------
	共通部分
  -------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*-------------------------------------------
  ページ全体
  -------------------------------------------*/
.page-wrapper {
  width: 100%;
  padding: 0 40px;
  max-width: 1280px;
  margin: 0 auto;
}

/*-------------------------------------------
  メインコンテンツ
  -------------------------------------------*/
.main-content {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

/*-------------------------------------------
  これより下にコードを追加してください。
  -------------------------------------------*/
/*-------------------------------------------
  ヘッダー
  -------------------------------------------*/
.header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:80px;
  width:100%;
}

.header-logo{
  display:flex;
  gap:24px;
}

.header ul{
  display:flex;
  gap:24px;
}

.header li a:hover{
  opacity:0.7;
}
/*-------------------------------------------
  メインビジュアル
  -------------------------------------------*/
.main-visual{
  width:100%;
  height:640px;
  object-fit:cover;
  border-radius:16px;
}

/*-------------------------------------------
  セクション 共通部分
  -------------------------------------------*/


/* -------------------------------------------
  プロフィール
  -------------------------------------------*/


/* -------------------------------------------
  記事
  -------------------------------------------*/


/*-------------------------------------------
  フッター
  -------------------------------------------*/